

:root{
  font-size: 12px;
	--color-text: #292828;
	--color-bg: #ddd;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--angle: -15deg;
	--trans-content: -30vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-text);
	background-color: var(--color-bg);
	font-family: new-science-mono, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-wrap: break-word;
  position: relative;
  z-index: -9999;

  /* -ms- ... Microsoftの略。主にMicrosoft製品の独自機能や仕様を示すために使用され */
  -ms-overflow-style: none; /* IE and 旧Edge */
  scrollbar-width: none; /* Firefox */

  text-transform: uppercase;
}

/* webkit系 Chrome Safari Edge */
/* すべての要素にあてる */
::-webkit-scrollbar{
  display: none;
}

/*  */
.noscroll {
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	position: fixed;
  top: 0;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

/* header */
.header {
  padding: var(--page-padding);
  width: 100%;
	font-size: 12px;
	color: #e3b774;
  pointer-events: none;

	display: grid;
  grid-column-gap: 2rem;
	grid-row-gap: 1rem;
  grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'title' 'sponsor';
	justify-items: start;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 1000;
  mix-blend-mode: difference;
	
	transition: opacity 0.3s;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.header #cdawrap {
  justify-self: end;
	max-width: 300px;
	text-align: right;
}

.header a {
  pointer-events: auto;
  color: #fff;
}

.header a:focus,
.header a:hover {
	color: #fff;
}

.header__title {
  grid-area: title;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  font-family: "new-science", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

/* gridの画面 */
.intro {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}

/* ノイズを乗せた背景 */
.intro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/imagesGrid/noise.avif), radial-gradient(circle, #f9a13275 0%, transparent 100%);
  background-size: 250px, 100%;
  pointer-events: none;
}

.intro--open {
	height: 80vh;
}

/* gridの */
.grid {
  width: 200vw;
	height: 130vh;
	gap: 1rem;
  /* 
    none → flex: 0 0 auto と同等
    とくになにも影響がない

    ここでは親要素のdisplay: flex;で中の.gridが伸縮しないようにしている。
  */
	flex: none;
	position: relative;
	
	display: grid;
	grid-template-rows: repeat(5,1fr);
	grid-template-columns: 100%;

  /* -15° */
	transform: rotate(var(--angle)); 
  transform-origin: center center;
}

.row {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7,1fr);
  will-change: transform, filter;
}

.row__item {
	position: relative;
}

.row__item-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}

.row__item-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}

/* 中央のrowの中央の画像に付与するクラス */
.row__item-img--large {
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	background-position: 50% 70%;
	will-change: transform, filter;
}

/* exploreボタン */
.btn-wrapper{
  position: absolute;
  z-index: 100;
}
.btn {
  padding: 1.75rem 4rem;
	font-family: "new-science", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.15rem;
  color: rgba(0,0,0,0.8);
	text-transform: uppercase;
  /* 
    background: radial-gradient(中央の色, 外側の色); 
    background: radial-gradient(#F13F79 20%, #FFC778 70%); 
    background: radial-gradient(#FFF, #FFC778 40%, #F13F79);
    → 中心から0〜40%で「白→橙」に、40〜100%で「橙→赤」にグラデーションがかかる
  
  */
	background: url(/imagesGrid/noise.avif), radial-gradient(circle, #f9a13275 0%, transparent 100%);
	background-size: 250px, 100%;
	transition: all 0.3s;
	cursor: pointer;
}

.btn::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3rem;
	transition: all 0.3s;
	z-index: -1;

}

.btn:focus::before,
.btn:hover::before {
	background-color: rgba(0,0,0,0.2);
}

/* enterボタン発火後のページのメインビューを表示 */
.fullView {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.fullView .row__item-inner {
	border-radius: 0px;
}

/* コンテンツ */
.content {
	padding: var(--page-padding);
	position: relative;
}

.content::before {
	content: '';
	position: absolute;
	border-radius: 10px 10px 0 0;
	height: calc(100% + (-1) * var(--trans-content));
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
  /* 
    topの位置に放射状のグラデーションを生成する
  
  */
	background: url(/imagesGrid/noise.avif), radial-gradient(at top, #f9a132 0%, #ddd 100%);
  background-size: 250px, 100%;
}

.content > * {
	position: relative;
}

.content__nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}

.content__header h2 {
	font-size: 2rem;
	font-family: new-science-extended, sans-serif;
	font-weight: 400;
	margin: 6rem 0 10vh;
	line-height: 0.9;
}

.content__text {
	text-wrap: balance;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	padding: 0 5vw;
}

.content__text p {
	max-width: 700px;
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 0;
	margin-left: auto;
}

.content__text p.highlight {
	max-width: 1000px;
	font-size: 2rem;
	font-family: new-science-extended, sans-serif;
	font-weight: 400;
}

.content__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	transform: translateY(calc(-1 * var(--trans-content)));
}

@media screen and (min-width: 53em) {
	body {
		--page-padding: 2rem 3rem;
	}
	.header {
		grid-template-columns: auto 1fr;
		grid-template-areas: 'title sponsor';
		align-content: space-between;
	}
	.content__header h2 {
		font-size: clamp(2rem,20vh,16rem);
	}
	.content__text p.highlight {
		font-size: clamp(2rem,7vh,4rem);
	}
}
