// 基本色
$white: #fff; // 背景
$black: #000;
$wineRed: #904669;
$subTitle: #535353;


// テキスト色
$text: #333333;
$textGray: #A6A6A6;

// 背景色
$bgGray: #eaebe6;
$bgCategory: #E8E8E8;
$bgPagination: #f4f3f2;

// ライン
$line: #DDDDDD;


// ブログ記事内で仕様

// フォント
// ・游ゴシック体、YuGothic...mac。macにはMedium(500)とBold(700)しかないので大丈夫。
// ・游ゴシック、Yu Gothic...windows。Light、Regular（標準）、Medium、Boldの４つがあるが、
												// font-weightを400で指定すると、regularが適用されてクロームではかすれてしまうのでMediumを直接指定しておく。
// ※古いブラウザでは日本語表記、アルファベット表記のどちらかにしか対応してないとのことなので2つ書く

// ベースフォント。全体へ適用するフォント。
$font-family-base: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// $font-family-base: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;

// 英語など適用したい部分に上書きしたいフォント。
$font-family-sub: "Inter", sans-serif;

$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト、400 → normal

// line-height
$lh: 1.5; // ベース行間

// マウスホバー
$opacity: 0.7;

// レイアウト
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1280px; // パソコン幅

// パディング
$padding-sp: 20px; // スマホ
$padding-pc: 25px; // タブレット以降

// ブレークポイント
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",
);

$contentMaxWidth: 1070px;

